.bee-questions {
  height: 100vh;
  & #help {
    margin: 50px auto;
    height: 50px;
    width: 420px;
    border: 2px solid #e5e5e5;
    padding-left: 20px;
    box-sizing: border-box;
    font-size: 1.3em;
  }
}

.bee-article {
  width: 100%;
  height: fit-content;

  & h1 {
    margin: 0 200px 0 0;
    font-size: 3em;
  }

  & h2 {
    margin-right: 80px;
    font-size: 2em;
  }

  & h3 {
    margin-left: 50px;
  }

  & div {
    // margin: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  // & .the-honeybee {
  //   top: 80px;
  //   margin: 0 0 100px 0;
  // }

  & .bee-images {
    height: 257px;
    width: 390px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }

  & .honey-bee {
    margin: 0 0 0 400px;
    background-image: url('../../assets/bee2.png');
  }

  & .bee-box { 
    background-image: url('../../assets/bee-box.png');
  }

  & #transport {
    background-image: url('../../assets/truck2.png');
  }

  & .wild-bee {
    background-image: url('../../assets/wild-bee.png');
  }

  & .solitary {
    background-image: url('../../assets/bee-home.png');
  }

  & .flower {
    background-image: url('../../assets/pink-flower.png');
  }

  & #last {
    margin-bottom: 250px;
  }
}
