.Problems {
  color: inherit; }
  .Problems form {
    margin: 50px auto;
    height: 100vh; }

.problems-article {
  height: 100vh; }
  .problems-article h1 {
    font-size: 3em; }
  .problems-article p {
    font-size: 2em; }
  .problems-article .fixed-monocropping {
    background-image: url("../../assets/monocrop.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 130px; }

.neonics-cont1 {
  height: 100vh;
  position: relative; }

.honeycomb-cont {
  position: relative; }

#honeycomb {
  width: 685px;
  z-index: -1;
  position: relative;
  top: -131px;
  left: 570px; }

#honeycomb1 {
  width: 213px;
  z-index: -1;
  position: relative;
  top: -203px;
  left: -214px; }

#nicotine {
  width: 550px;
  z-index: -1;
  transform: rotate(-20deg);
  margin-left: -230px;
  margin-bottom: 230px; }
