.Problems {
  color: inherit; }
  .Problems form {
    margin: 50px auto;
    height: 100vh; }

.problems-article {
  height: 100vh; }
  .problems-article h1 {
    font-size: 3em; }
  .problems-article p {
    font-size: 2em; }
  .problems-article .fixed-monocropping {
    background-image: url("../../assets/monocrop.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 130px; }
