.Impact {
  min-height: 100vh;
  padding: 20px 0; }

.diet-form {
  position: relative;
  margin: 50px 0;
  height: 100vh; }
  .diet-form .fruit-arrangement {
    top: -105px;
    right: -50px;
    position: absolute;
    width: 400px; }
  .diet-form .raining-fruit {
    width: 40px; }

.fake-circle {
  border-radius: 100%;
  background-color: purple;
  height: 200px;
  width: 200px; }

.question-cont {
  position: relative; }

.rotate {
  position: absolute;
  bottom: 38px;
  right: 260px;
  width: 70px; }

.diet-article {
  position: relative;
  min-height: 100vh;
  height: fit-content; }
  .diet-article #diet-header {
    font-size: 5em;
    margin-bottom: 0; }
  .diet-article h1 {
    font-size: 3em; }
  .diet-article p {
    font-size: 1.6em; }
  .diet-article .foods-cont {
    position: relative; }
  .diet-article .foods {
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    background-size: contain;
    background-repeat: no-repeat;
    height: 200px;
    width: 200px; }
  .diet-article .word-cloud {
    width: 100%; }
  .diet-article .fruit-cloud {
    display: flex;
    overflow: hidden;
    flex-wrap: wrap;
    border-radius: 40%;
    width: 880px; }
  .diet-article .fruit-cloud span {
    margin: 1px;
    height: fit-content; }
  .diet-article .fruit-cloud span:nth-of-type(3n+1) {
    font-size: 2em;
    margin: 3px;
    opacity: 0.5; }
  .diet-article .fruit-cloud span:nth-of-type(4n+3) {
    font-size: .5em;
    opacity: 0.9; }
  .diet-article .fruit-cloud span:nth-of-type(7n-3) {
    font-size: 3em;
    margin: -9px 0; }
  .diet-article .fruit-cloud span:nth-of-type(47n-40),
  .diet-article .fruit-cloud span:nth-of-type(40n) {
    font-size: 5em;
    margin: -25px 0; }
  .diet-article #chocolate {
    bottom: 62px;
    right: 297px;
    background-image: url("../../assets/chocolate.png");
    z-index: 3; }
  .diet-article #avocado {
    right: 247px;
    top: 248px;
    transform: rotate(345deg);
    background-image: url("../../assets/avocado.png");
    height: 180px; }
  .diet-article #coffee {
    bottom: 25px;
    right: 390px;
    z-index: 2;
    background-image: url("../../assets/coffee-beans.png"); }
  .diet-article #apple {
    top: 307px;
    right: 370px;
    z-index: 1;
    background-image: url("../../assets/apple.png"); }
  .diet-article #peach {
    top: 331px;
    right: 490px;
    width: 160px;
    background-image: url("../../assets/Peach.png"); }

.economic-questions {
  width: 100%;
  height: 100vh;
  margin: 50px 0; }
  .economic-questions div {
    width: 500px;
    display: flex;
    justify-content: space-between;
    margin: 50px auto; }
  .economic-questions select {
    width: 48%;
    height: 50px;
    border: 2px solid #e5e5e5;
    padding-left: 20px;
    box-sizing: border-box;
    font-size: 1.3em; }

.economic-article {
  height: 100vh; }
  .economic-article h1 {
    font-size: 3em; }
  .economic-article .chart {
    border: 2px solid grey;
    display: flex;
    height: 50%;
    background-image: url("../../assets/chart.jpg"), url("../../assets/background1.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto, cover; }

.wind-foods-cont {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center; }

.wind-foods-cont img {
  width: 135px; }
